<div class="col-md-2 sidebar bg-dark">
    <p class="">
        <a href="/customer/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/customer/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
	<hr>
    <p class="">
        <a href="/books/returnbooks">
            <i class="fas fa-book"></i>
            Return Books
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/fines">
            <i class="fas fa-user"></i>
            Fine payment
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/studyroom">
            <i class="fas fa-user"></i>
            Study Room Reservation
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/electronicgadget">
            <i class="fas fa-user"></i>
            Laptop/Calculator Reservation
        </a>
    </p>
</div>
